/* Coolors Exported Palette - https://coolors.co/092546-fffcf8-38b6ff */

/* CSS HEX */
--oxford-blue: #092546ff;
--baby-powder: #fffcf8ff;
--blue-jeans: #38b6ffff;

/* CSS HSL */
--oxford-blue: hsla(212, 77%, 15%, 1);
--baby-powder: hsla(34, 100%, 99%, 1);
--blue-jeans: hsla(202, 100%, 61%, 1);

/* SCSS HEX */
$oxford-blue: #092546ff;
$baby-powder: #fffcf8ff;
$blue-jeans: #38b6ffff;

/* SCSS HSL */
$oxford-blue: hsla(212, 77%, 15%, 1);
$baby-powder: hsla(34, 100%, 99%, 1);
$blue-jeans: hsla(202, 100%, 61%, 1);

/* SCSS RGB */
$oxford-blue: rgba(9, 37, 70, 1);
$baby-powder: rgba(255, 252, 248, 1);
$blue-jeans: rgba(56, 182, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-right: linear-gradient(90deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-bottom: linear-gradient(180deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-left: linear-gradient(270deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-top-right: linear-gradient(45deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-bottom-right: linear-gradient(135deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-top-left: linear-gradient(225deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-bottom-left: linear-gradient(315deg, #092546ff, #fffcf8ff, #38b6ffff);
$gradient-radial: radial-gradient(#092546ff, #fffcf8ff, #38b6ffff);