@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  
}
.content{
  width: auto;
  
  margin: 150px;
  margin-top:3em; 
  border: 2px solid #38b6ffff;
  box-shadow: 0px 7px 8px #38b6ffff;
  border-radius: 20px 20px; 
  
}

.search {
  width: 100%;
  position: relative;
  
}

.searchTerm {
  
  width: 100%;
  border: 3px solid #38b6ff;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #38b6ff;
  background: #38b6ff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  left: 28%;
}

.container {
  position: relative;
  min-height: 500px;
    
}


.legend{
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fredoka One',cursive;
  color: #38b6ff;
  
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Fredoka One',cursive;
  color: #38b6ff;
  z-index: 1;
  transition: top .5s ease;
  
}

.container:hover .title{
  top: 0px;
  font-size: 4em;
}

.button {
  
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.fish{
  display:flex;
  flex-direction: column;
  margin: auto;
  
}

img{
  padding:5px;
  width: 50%;
  margin-left: 25%;
  border-radius: 20px 20px; 
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  
}
.fish-info{
  margin: 3em;

}
h3{
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.footer{
  text-align: center;
  padding: 20px;

}
@media screen and (max-width: 900px) {
  
  .wrap{
    left: 0%;
    width: auto;
  }
  .content{
    margin: 2px;
    border: none;
    box-shadow: none;
  }
  .container {
    position: relative;
    height: 400px;
    
  }
  .legend{
    font-size: 2.5vw
  }

  .searchTerm {
    width: 50%;
    border: 3px solid #38b6ff;
    padding: 5px;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
  }
  }

